# --- Monorepo EcoRide ---

# Node / front
node_modules/
dist/
.build/
.cache/
.vscode/
.DS_Store
Thumbs.db

# Fichiers runtime front
payload.json
cookies.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Symfony / back
/backend/vendor/
/backend/var/
/backend/public/build/
/backend/.env.local
/backend/.env.*.local
/backend/.phpunit.result.cache

# OS / IDE
.idea/
.vscode/
*.iml

# Autres temporaires
*.log
*.tmp
*.swp
backend/login*.json
backend/payload_*.json
