security:
  role_hierarchy:
    ROLE_ADMIN:
      - ROLE_EMPLOYEE
      - ROLE_USER
    ROLE_EMPLOYEE:
      - ROLE_USER
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      provider: app_user_provider
      lazy: true
      stateless: false        # session-based
      logout:
        path: /logout
        invalidate_session: true

  access_control:
    # publics
    - { path: ^/api/health$, roles: PUBLIC_ACCESS, methods: [GET] }
    - { path: ^/api/rides$, roles: PUBLIC_ACCESS, methods: [GET] }
    - { path: ^/api/rides$, roles: ROLE_USER, methods: [POST] }
    - { path: ^/api/auth/(login|logout|me)$, roles: PUBLIC_ACCESS }
    - { path: ^/api/auth/signup$, roles: PUBLIC_ACCESS, methods: [POST] }
    - { path: ^/api/auth/register$, roles: PUBLIC_ACCESS, methods: [POST] }
    - { path: ^/api/auth/check-email$, roles: PUBLIC_ACCESS, methods: [GET] }
    - { path: ^/api/me/bookings$, roles: PUBLIC_ACCESS, methods: [GET] }

    # protégés (gérés côté contrôleur par session)
    - { path: ^/api/me/(overview|roles|preferences|vehicles|bookings|rides)$, roles: ROLE_USER }
    - { path: ^/api/rides/\d+/book$, roles: ROLE_USER, methods: [POST,DELETE] }
    - { path: ^/api/rides/\d+/cancel$, roles: ROLE_USER }
    - { path: ^/api/moderation, roles: ROLE_EMPLOYEE }
    - { path: ^/api/admin, roles: ROLE_ADMIN }

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4
        time_cost: 3
        memory_cost: 10
